/*@font-face {*/
/*    font-family: Shabnam;*/
/*    src: url('../fonts/Shabnam.eot');*/
/*    src: url('../fonts/Shabnam.eot?#iefix') format('embedded-opentype'),*/
/*    url('../fonts/Shabnam.woff2') format('woff2'),*/
/*    url('../fonts/Shabnam.woff') format('woff'),*/
/*    url('../fonts/Shabnam.ttf') format('truetype');*/
/*    font-weight: normal;*/
/*}*/

@font-face {
    font-family: Shabnam;
    src: url('../fonts/Shabnam-FD.eot');
    src: url('../fonts/Shabnam-FD.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Shabnam-FD.woff2') format('woff2'),
    url('../fonts/Shabnam-FD.woff') format('woff'),
    url('../fonts/Shabnam-FD.ttf') format('truetype');
    font-weight: normal;
}