<div id="myModal" class="modal ajax-register-form">
  <!-- Modal content -->
  <div class="mobile-modal-content">
    <div class="closediv"><span class="close">&times;</span></div>
    <div class="ajax-login-conten">
    	<div id="ajaxlogin-login-window" class="login-window account-login">
        
        	<div class="mobileget">
            	<div class="mobileotpsenderror error">
                	<span><?php echo __("Please Enter Valid Mobile.");?></span>
                </div>
                <div class="mobileExist error">
                	<span><?php echo __("Mobile Number Already Exist.");?></span>
                </div>
                 <div class="blankerror error" style="display:none">
                     	<span><?php echo __("Required fields cannot be empty");?></span>
                     </div>
                   <div class="mobileNotValid error" style="display:none">
                     	<span><?php echo __("Please Enter Valid Mobile Number");?></span>
                     </div>   
                 <div class="page-title">
                    <span><?php echo __('Register') ?></span>
                </div>
				<div class="otp-content">
                	 <label for="mobileget" class="required"><em>*</em><?php echo __('Mobile Number') ?></label>
                	<input type="text" value="" id="mobileget" class="mobnumber"/>
                    <input type="hidden" value="<?php echo $block->getUrl("mobilelogin/index/sentotpbyreg"); ?>" class="setdotpurl" />
                 </div>
                 <div class="model-bottom"> 
                    <div class="submitbtnajax">
                        <input type="button" class="sendotp button primary action" value="<?php echo __('Send Otp') ?>" />
                    </div>
                     <div class="progress-indicator">
                             <span class="please-wait" id="reg-sms-please-wait" style="display:none;">
                                <img src="<?php echo 
							$block->getViewFileUrl('Magenman_Mobilelogin::images/ajax-loader.gif');?>" class="v-middle" alt=""/>
                            </span>
                        </div>
                </div>
                
            </div>
            <div class="otpverify">
            	<div class="checkotperror error">
                	<span><?php echo __("Incorrect OTP, Please Verify Again.");?></span>
                </div>
                <div class="blankerror error">
                	<span><?php echo __("Required fields cannot be empty.");?></span>
                </div>
                 <div class="page-title">
                    <span><?php echo __('OTP Verification') ?></span>
                </div>
				<div class="otp-content">
                	<label for="mobileget" class="required"><em>*</em><?php echo __('One Time Secure Password') ?></label>
                	<input type="text" value="" id="otp"/>
                    <input type="hidden" value="<?php echo $block->getUrl("mobilelogin/index/ajaxcheckregotp"); ?>" class="checkotpurl" />
                </div>
                 <div class="model-bottom"> 
                    <div class="submitbtnajax">
                        <input type="button" class="verifyotp button primary action" value="<?php echo __('Verify OTP') ?>" />
                    </div>
                     <div class="progress-indicator">
                             <span class="please-wait" id="reg-otp-verify-please-wait" style="display:none;">
                               <img src="<?php echo 
							$block->getViewFileUrl('Magenman_Mobilelogin::images/ajax-loader.gif');?>" class="v-middle" alt=""/>
                            </span>
                        </div>
                </div>
                
            </div>
			<div class="registraionform">    
            	 <form action="<?php echo $block->getUrl('mobilelogin/index/ajaxcreatepost', array('_secure'=>true)) ?>" method="post" id="ajaxlogin-create-form">
<div class="fieldset">
    <input type="hidden" name="success_url" value="<?php echo $this->getSuccessUrl() ?>" />
    <input type="hidden" name="error_url" value="<?php echo $this->getErrorUrl() ?>" />
	<input type="hidden" name="mobilenumber" id="createmobile" />
	<input type="hidden" name="createotp" id="createotp" />    
   
     			 <div class="regcontollererror error">
                	<span></span>
                </div>
                <div class="page-title">
                    <span><?php echo __('Register') ?></span>
                </div>
                <div class="content">
                    <div class="reg-form">
                        <div class="firstname reginput odd">
                            <label for="firstname" class="required"><em>*</em><?php echo __('First Name') ?></label>
                            <div class="input-box">
                                <input type="text" name="firstname" value="" id="firstname" class="input-text required-entry" title="<?php echo __('First Name') ?>" />
                            </div>
                        </div>
                         <div class="lastname reginput even">
                            <label for="lastname" class="required"><em>*</em><?php echo __('Last Name') ?></label>
                            <div class="input-box">
                                <input type="text" name="lastname" class="input-text required-entry " id="lastname" title="<?php echo __('Last Name') ?>" />
                            </div>
                        </div>
                          <div class="email reginput odd ">
                            <label for="email" class="required"><em>*</em><?php echo __('Email Address') ?></label>
                            <div class="input-box">
                                <input type="text" name="email" value="" id="mobile-reg-email" class="input-text required-entry " title="<?php echo __('Email Address') ?>" />
                            </div>
                        </div>
                        <div class="password reginput odd">
                            <label for="password" class="required"><em>*</em><?php echo __('Password') ?></label>
                            <div class="input-box">
                                <input type="password" name="password" value="" id="mobile-reg-password" class="input-text required-entry " title="<?php echo __('Password') ?>" />
                            </div>
                        </div>
                        <div class="confirmpassword reginput even">
                            <label for="confirmation" class="required"><em>*</em><?php echo __('Confrm Password') ?></label>
                            <div class="input-box">
                                <input type="password" name="password_confirmation" value="" id="confirmpassword" class="input-text required-entry " title="<?php echo __('Password') ?>" />
                            </div>
                        </div>
    
                    
                    </div>
                    <div class="model-bottom"> 
                    
                        <div class="reg-submit submitbtnajax">
                            <input type="submit" class="button Registerformsubmit primary action" value="Register" />
                         </div>
                          <div class="progress-indicator">
                             <span class="please-wait" id="reg-submit-please-wait" style="display:none;">
                               <img src="<?php echo 
							$block->getViewFileUrl('Magenman_Mobilelogin::images/ajax-loader.gif');?>" class="v-middle" alt=""/>
                            </span>
                        </div>
                    </div>
                </div>
			</div>
            </form>
		</div>
    </div>
  </div>
 
</div>
</div>