<div id="myModal" class="modal ajax-login-form">
  <!-- Modal content -->
  <div class="mobile-modal-content">
    <div class="closediv"><span class="close">&times;</span></div>
    <div class="ajax-login-conten">
    	<div id="ajaxlogin-login-window" class="login-window account-login">
        	<div class="loginotpmobileget">
            		 <div class="loginotpmobbtnerror error" style="display:none">
                        <span class=""><?php echo __("Please Enter Valid Mobile.");?></span>
                    </div>
                    <div class="loginsendotperror error" style="display:none">
                     	<span><?php echo __("Mobile Number Doesn't Exist");?></span>
                     </div>
                      <div class="updatepasssuccess success" style="display:none">
                        <span ><?php echo __("Password has been Updated Successfully.");?></span>
                    </div>
                     <div class="page-title">
                        <span><?php                      
                         echo __('Login') ?></span>
                    </div>
                    <div class="otp-content">
                    	 <label for="loginotpmob" class="required"><em>*</em><?php echo __('Mobile Number') ?></label>
                        <input type="text" value="" id="loginotpmob"/>
                        <input type="hidden" value="<?php echo $this->getUrl("mobilelogin/index/ajaxsentotpforlogin"); ?>" class="loginotp-otp-url" />
                     </div>
                     <div class="model-bottom">
                         
                            <div class="submitbtnajax">
                                <input type="button" class="loginotpmobbtn button  primary action" value="<?php echo __('Send Otp') ?>" />
                               
                            </div>
                         <div class="progress-indicator">
                             <span class="please-wait" id="login-sms-please-wait" style="display:none;">
                                <img src="<?php echo $block->getViewFileUrl('Magenman_Mobilelogin::images/ajax-loader.gif'); ?>" class="v-middle" alt=""/>
                            </span>
                        </div>
                   </div>
             </div>
              <div class="loginotpverify" style="display:none">
              		 <div class="checkloginotperror error" style="display:none">
                        <span><?php echo __("OTP Not Verified.");?></span>
	                </div>	
                     <div class="page-title">
                        <span><?php echo __('OTP Verification') ?></span>
                    </div>
                    <div class="otp-content">
                        <input type="text" value="" id="logintotp"/>
                         <input type="hidden" value="<?php echo $this->getUrl("mobilelogin/index/ajaxverifyOtpForLogin"); ?>" class="loginotp-verify-url" />
                        <input type="hidden" value="<?php echo $this->getUrl("customer/account/"); ?>" class="customeraccount" />
                        
                   </div>
                    <div class="model-bottom">
                        <div class="submitbtnajax">
                            <input type="button" class="loginverifyotp button  primary action" value="Login" />
                        </div>
                         <div class="progress-indicator">
                             <span class="please-wait" id="login-verify-please-wait" style="display:none;">
                                <img src="<?php echo $block->getViewFileUrl('Magenman_Mobilelogin::images/ajax-loader.gif'); ?>" class="v-middle" alt=""/>
                            </span>
                        </div>
                   </div>
                    
            </div>
		</div>
    </div>
  </div>

</div>
