<?php
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php
/**
 * Language switcher template
 */
?>

<?php if (count($block->getStores())>1): ?>
<?php $id = $block->getIdModifier() ? '-' . $block->getIdModifier() : ''?>
<div class="switcher language switcher-language" data-ui-id="language-switcher" id="switcher-language<?php /* @escapeNotVerified */ echo $id?>">
    <strong class="switcher-label lang"><span><?php /* @escapeNotVerified */ echo __('Language') ?> : </span></strong>
    <div class="actions dropdown options switcher-options">
        <div class="action toggle switcher-trigger" id="switcher-language-trigger<?php /* @escapeNotVerified */ echo $id?>">
            <strong class="view-<?php echo $block->escapeHtml($block->getCurrentStoreCode()) ?>">
                <span>
                <img src="<?php echo $this->getViewFileUrl('images/flags/flag_' . $block->getCurrentStoreCode() . '.png');?>"
                alt="<?php echo $block->escapeHtml($block->getStoreName()) ?>">
                <?php echo $block->escapeHtml($block->getStoreName()) ?>
                </span>
            </strong>
        </div> 
        <ul class="options select-options tm_lang-cur"
            data-mage-init='{"switcher-options":{
                "appendTo":"#switcher-language<?php /* @escapeNotVerified */ echo $id ?> > .options",
                "triggerTarget":"#switcher-language-trigger<?php /* @escapeNotVerified */ echo $id ?>",
                "closeOnMouseLeave": false,
                "triggerClass":"active",
                "parentClass":"active",
                "buttons":null}}'>
            <?php foreach ($block->getStores() as $_lang): ?>
                
                    <li class="view-<?php echo $block->escapeHtml($_lang->getCode()); ?> switcher-option">
                    <img src="<?php echo $this->getViewFileUrl('images/flags/flag_' . $_lang->getCode() . '.png');?>"
                    alt="<?php echo $block->escapeHtml($_lang->getName()) ?>">
                        <a href="#" data-post='<?php /* @escapeNotVerified */ echo $block->getTargetStorePostData($_lang); ?>'>
                            <?php echo $block->escapeHtml($_lang->getName()) ?></a>
                    </li>
                
            <?php endforeach; ?>
        </ul>
  
    </div>
</div>
<?php endif; ?>
