<?php 
$brand = $this->getBrand();
$media = $this->getImageMediaPath();
?>

<div class="page-title-wrapper">
	<h1 class="page-title">
		<span><?php echo $brand->getName();?></span>
	</h1>
</div>

<div class="brand-image">
		<img class="barnd-img" src="<?php echo $media.$brand->getLogo() ?>" title="<?php echo $brand->getName();?>" alt="<?php echo $brand->getName();?>" />
</div>
<div class="category-description">
     <?php echo $brand->getDescription();?>    
</div>

 <?php if ($block->getPagerHtml()): ?>
        <div class="order-products-toolbar toolbar bottom"><?php echo $block->getPagerHtml(); ?></div>
    <?php endif ?>

