<?php
/**
 ** @var $this \Chalaksoft\Zarinpay\Block\Redirect
 */

?>
<h3>
    در حال اتصال به بانک
</h3>
 <?php
$result=$this->sendToBank();
$rnd=trim($result['order_id']).'-'.trim(rand(1000,100000));
//die($rnd);

echo $MID="21308383";
echo $ResNum=$rnd;
echo $Amount='1650';
//echo $RedirectURL="http://choobinja.com/zarinpay/index/new/";
echo $RedirectURL="http://choobinja.com/zarinpay/index/callback/";
echo $ResNum1="012345678901234567890123456780";
?>

    <form method="POST" id="myForm1" action="https://sep.shaparak.ir/Payment.aspx">


    <!--<input type="text" name="Amount" id="Amount" value="1800" />
    <input type="hidden" name="OrderNumber" id="OrderNumber" value="88888"; ?>" />
    <input type="hidden" name="Amountt" id="Amountt"/>
    <input type="hidden" name="OrderNumberr" id="OrderNumberr"/>
    <input type="hidden" name="InvoiceMasterID" id="InvoiceMasterID" size="20" value="888888"/>
    <input type='hidden' name='beenSubmitted' value='1'/>-->

    <input type="hidden" name="MID" value="<?php echo $MID?>">
    <input type="hidden" name="ResNum" value="<?php echo $ResNum?>">
    <input type="hidden" name="Amount" value="<?php echo $Amount?>">
    <input type="hidden" name="RedirectURL" value="<?php echo $RedirectURL?>">
    <input type="hidden" name="ResNum1" value="<?php echo $ResNum1?>">
</form>

    <script>
        document.getElementById("myForm1").submit();

    </script>
<?php
//}else{
//    echo $result['msg'];
//}
?>